<div id="about">
<div class="about-section">
    <div class="col">
        <h2>About</h2>
        <p>Electo, is a non-biased election news aggregator. Have a suggestion or comment send a message.</p>
        <a href="" class="btn"><i class="fas fa-envelope"></i> Contact</a>
    </div>
    <div class="about-content">
        <div id="close">X</div>
        <div class="cta-rtv">
            <h3><span>Register to Vote</span></h3>
            <p>Perform your civic duty, and register to vote.</p>
            <a href="https://www.vote.org" target="_blank" class="btn">Get Started</a>
        </div>
    </div>
</div>
</div>