<div class="container">
    <header>
        {{ page.header }}
        {{ page.notice}}
    </header>

    <main>
        {{ page.content}}
    </main>

    <footer>
        {{ page.footer}}
    </footer>
</div>
